.labels {color: #ffffff;background-color: #4f4f4f;font:11px normal calibri,Arial;text-align: center;opacity:0.7;white-space: nowrap;}
.ui-layout-pane { /* all 'panes' */background: #f7f7f7; border: 0px solid #BBB;padding: 0px;overflow: auto; } 
.ui-layout-resizer { /* all 'resizer-bars' */ background: #1E95CE; } 
.ui-layout-toggler { /* all 'toggler-buttons' */ background: #AAA; } 
.ui-layout-toggler-east-closed, 
.ui-layout-toggler-west-open	{ background: transparent url(../images/toggle-lt.gif) no-repeat right center; }
.ui-layout-toggler-west-closed, 
.ui-layout-toggler-east-open	{ background: transparent url(../images/toggle-rt.gif) no-repeat left center; }
.ui-layout-toggler-south-closed, 
.ui-layout-toggler-north-open	{ background: transparent url(../images/toggle-up.gif) no-repeat center bottom; }
.ui-layout-toggler-north-closed, 
.ui-layout-toggler-south-open	{ background: transparent url(../images/toggle-dn.gif) no-repeat center top; }
.arrowlistmenu ul li a:visited{color: #A70303;}
.arrowlistmenu ul li a:hover{ /*hover state CSS*/color: #A70303; background-color: #F3F3F3;}
div#side_bar a {    
                    text-decoration:none;
                    text-align:left;
                    font-family:calibri,arial;
                    font:14px ;
                    /*normal Arial, Helvetica, sans-serif;*/
}
* { margin:0;
    padding:0;
}
body { background: #f7f7f7 }
div#menu { margin:0px auto; }

#moving2
{
    background-image:url(../images/playstop/play_green.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    padding-top: 0px;
    font-weight: bolder;
}
.middle-center {
    border:			0; /* cosmetic */
    padding:		0; 
    overflow:		hidden;
}

#stoped2{background-image:url(../images/playstop/stopred.png);background-repeat: no-repeat;height: 50px;width: 50px;font-weight: bolder;}
#dead2{background-image:url(../images/playstop/stopblack3.png);background-repeat: no-repeat;height: 50px;width: 50px;font-weight: bolder;}
.vehiclestatus{text-align: center;padding: 25px;}
.param_grid_final{ border-collapse:collapse; padding:5px; width:100%; background:#FFF; border:1px solid #CCC; font:12px normal Arial, Helvetica, sans-serif;}
.param_grid_final tr th{border: 1px solid #CCCCCC; background: #5c9ccc; color: #ffffff; font-weight: bold;padding: 2px;height: 20px; }
.param_grid_final tr td{padding:5px; border:#CCCCCC solid 1px; vertical-align:middle; text-align:center;  }
.param_grid_final tr:nth-child(even) {background: #dfdede}
.param_grid_final tr:nth-child(odd) { background:#FFFFFF;}


.infocss
{ border-collapse:collapse; padding:5px; width:100%;overflow: hidden; background:#FFF; border:1px solid #CCC; font:12px normal Arial, Helvetica, sans-serif;}
.infocss tr th
{border: 1px solid #CCCCCC; background: #5c9ccc; color: #ffffff; font-weight: bold;padding: 2px;height: 20px; }
.infocss tr td
{ padding:3px; border:#CCCCCC solid 1px; vertical-align:middle; text-align:left;  }
.infocss tr:nth-child(even) {background: #dfdede}
.infocss tr:nth-child(odd) { background:#FFFFFF;}

#timeInterval1 {
    margin: 5px;
}
#forpoi{
    margin: 5px;

}
.ui-widget-header { border: 1px solid #333333; background: #333333 url(graphics/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-left-radius: 6px; }

.ui-widget-header .ui-icon {background-image: url(graphics/ui-icons_d8e7f3_256x240.png); }

