    .labels {color: #ffffff;background-color: #4f4f4f;font:11px normal Arial, Helvetica, sans-serif;text-align: center;opacity:0.7;white-space: nowrap;}
     
   
      #timeInterval1 {
        margin: 5px;
      }
      #forpoi{
            margin: 5px;
          
      }
      .label
      {
          font-size: 20px;
      }
      
.ui-widget-header { border: 1px solid #B5B5B5; background-color: #B5B5B5; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff;font-variant: small-caps; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }

.ui-widget-header .ui-icon {background-color: #B5B5B5; }

