* { margin:0;padding:0; }
.dropdown { }
.dropdown { padding-right:0px; font:11px Verdana, Arial, Helvetica;color:#fff}
.dropdown dt {width:auto; border:1px solid #C6CDD9;background-color:#1E95CE; padding:0px; font-weight:bold; cursor:pointer;}
.dropdown dt:hover {}
.dropdown dd {position:absolute; overflow:hidden; width: auto; display:none; background:#fff; z-index:200; opacity:0}
.dropdown ul {width:160px; border:1px solid #C6CDD9; list-style:none; border-top:none}
.dropdown li {display:inline}
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:px; text-decoration:none; background:#1E95CE;}
.dropdown a:hover {background:#d9e1e4; color:#000}
.dropdown .underline {border-bottom:1px solid #b9d6dc;color:#fff;font-size: 13px;}
.dropdown .underline2 {border-bottom:1px solid #b9d6dc;color:#fff;}

.expand { font:12px Verdana, Arial, Helvetica;}
.expand dt {text-align:left;width:auto;height:20px; border:1px solid #C6CDD9;background-color:#1E95CE; font-weight:bold; cursor:pointer; }
.expand dt:hover {}
.expand dd {position:absolute; overflow:hidden; width:auto; display:none; background:#fff; z-index:200; opacity:0;color:#fff}
.expand li {display:inline}
 expand .underline {border-bottom:1px solid #b9d6dc;color:#fff}
.dropdown1 { padding-right:5px; font:11px Verdana, Arial, Helvetica;}
.dropdown1 a {text-align: center;}
.dropdown1 dt {width:95%;height: 25px;text-align:center;border:1px solid #C6CDD9;background-color:#1E95CE;padding:0px;color:#FFFFFF;font-weight:bold; cursor:pointer;}
.dropdown2 {font:11px Verdana, Arial, Helvetica}
.dropdown2 tr {width:auto;text-align:center;border:1px solid #C6CDD9;background-color:#1E95CE;padding:0px;color:#FFFFFF;font-weight:bold; cursor:pointer;}
.dropdown2 tr:hover {}
.dropdown2 a, .dropdown2 a:active, .dropdown2 a:visited {display:block; padding:0px; color:#333; text-decoration:none; background:#1E95CE;}
