@font-face {
  font-family: Segoe_UI_light;
  src: url("../fonts/Segoe_UI_light.eot"); /* IE */
  src: local('Segoe_UI_light'), url('../fonts/Segoe_UI_light.ttf') format('truetype'); /* others */
}
@font-face {
  font-family: Segoe_UI;
  src: url("../fonts/segoeui.eot"); /* IE */
  src: local('Segoe_UI'), url('../fonts/segoeui.ttf') format('truetype'); /* others */
}
body{ font-family:"Segoe_UI"; }

#wrapper{ height:auto; width:1024px; }
#top{ width:1024px;height:50px;}
#top-left
{
	/*width:110px;*/ float:left; height:35px; /*background-image:url(../images/satcop-logo.png);*/
	color: #FFFFFF;
    font-size: 21px;
    margin: 5px 15px;
    text-align: center;
}
#top-right{ width:auto;/**/margin-right: 10px; float:right;}
#bottom-right
{
	position: absolute;
    right: 0px;
    bottom: 0px;
    width: auto;
    margin-right: 10px;
    float:right;
}
#usernamespan
{
	color: #FFFFFF;
	font-family: "Segoe_UI_light";
    font-size: 21px;
    text-align: center;
}

#gallery{width:1024px;}
#home
{
	position:absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	float:left;
	/*top:14%;*/
	left:0;
	background-image:url('../../../images/index.png') ;
	background-repeat:repeat-x;
	/*background-repeat:fixed 0 0 / contain  rgba(0, 0, 0, 0);*/
}
#littlehome
{
	margin-top: 10px;
	position:absolute;
	width: 54%;
	height: 48%;
	overflow: hidden;
	float:left;
	top:5%;
	left:1%;
	/*background-image:url('../../../images/index.png') ;
	background-repeat:repeat-x;*/
	/*background-color: white;
	background-repeat:fixed 0 0 / contain  rgba(0, 0, 0, 0);
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);*/
}

#littlehome #tip {
background-image: url('../../../images/tip.png');
background-repeat: no-repeat;
background-size: auto;
height: 11px;
position: absolute;
top: 0px;
left: 5%;
width: 20px;
z-index: 1;
}

#littlehome-holder
{
	margin-top: 10px;
	position:absolute;
	width: 98%;
	height: 94%;
	overflow: hidden;
	float:left;
	top:1px;
	left:1px;
	/*background-image:url('../../../images/index.png') ;
	background-repeat:repeat-x;*/
	background-color: white;
	background-repeat:fixed 0 0 / contain  rgba(0, 0, 0, 0);
	border-radius: 8px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

#littlehome-insider
{
	margin-top: 10px;
	position:absolute;
	width: 98%;
	height: 96%;
	overflow: auto;
	float:left;
	top:-1%;
	left:1%;
	/*background-image:url('../../../images/index.png') ;
	background-repeat:repeat-x;*/
	background-color: white;
	background-repeat:fixed 0 0 / contain  rgba(0, 0, 0, 0);
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
/*li{ float:left;}*/
.new-message{
	height: 0;
}
li > .new-message a {
	/*font-size: 9px;*/
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	position: relative;
	padding: 5px 12px;
	height: auto;
	width: auto;
	top: 56px;
	left: 56px;
	color: #f5f5f5;
	background: #cc0000;
	background: -moz-linear-gradient(top,#dd0000 0,#cc0000,100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dd0000),color-stop(100%,#cc0000));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd0000',endColorstr='#cc0000',GradientType=0);
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-o-border-radius: 60px;
	/*border: 1px solid rgba(0,0,0,0.50);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);
	-o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35), inset 0px 1px 1px rgba(255,255,255,0.50);*/
	z-index: 1;
	}

.title{font-size:21px; margin-top:0px; text-align:center;color:#FFF;}
.littletitle{font-size:15px; margin-top:0px; text-align:center;color:#333333}

h2{ font-weight:100; text-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);}

.icon{margin-top:28px;margin-left:5px;}
.littleicon{margin-top:5%;margin-left:5px;/**/ width: 60%;}

img.bg {
	/* Set rules to fill background */
	min-height: 93%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: 100%;

	/* Set up positioning */
	position: fixed;
	top: 0%;
	left: 0;
}

@media screen and (max-width: 1024px){
	img.bg {
		left: 50%;
		margin-left: -512px; }
}

#page-wrap { position: relative; top: auto;width: 75%; margin:0 auto; }
#litlepage-wrap { position: relative; width: 85%; /*top: 12%;*/margin:0 auto; }

.item-2 {

	text-indent:-9px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:125px;/**/
	line-height:125px;
	width:125px;
	text-decoration:none;
	text-align:center;
	margin:35px 35px 35px 35px;/**/
}
.item-2:hover {

}.item-2:active {
	position:relative;
	top:1px;
}
.littleitem-2 {

	text-indent:-15px;
	display:table;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	/*height:125px;*/
	/*line-height:125px;*/
	/*width:125%;*/
	text-decoration:none;
	text-align:center;
	/*margin:35px 35px 35px 35px;*/
}
.littleitem-2:hover {

}.littleitem-2:active {
	position:relative;
	top:1px;
}

.item-1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #adadad), color-stop(1, #505152) );
	background:-moz-linear-gradient( center top, #adadad 5%, #505152 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad', endColorstr='#505152');
	background-color:#adadad;
	-webkit-border-top-left-radius:24px;
	-moz-border-radius-topleft:24px;
	border-top-left-radius:24px;
	-webkit-border-top-right-radius:24px;
	-moz-border-radius-topright:24px;
	border-top-right-radius:24px;
	-webkit-border-bottom-right-radius:24px;
	-moz-border-radius-bottomright:24px;
	border-bottom-right-radius:24px;
	-webkit-border-bottom-left-radius:24px;
	-moz-border-radius-bottomleft:24px;
	border-bottom-left-radius:24px;
	text-indent:-9px;
	display:inline-block;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:125px;
	line-height:255px;
	width:125px;
	text-decoration:none;
	text-align:center;
	margin:35px 35px 35px 0px;
}
.item-1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #505152), color-stop(1, #adadad) );
	background:-moz-linear-gradient( center top, #505152 5%, #adadad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#505152', endColorstr='#adadad');
	background-color:#505152;
}.item-1:active {
	position:relative;
	top:1px;
}

