/* 
    Document   : report
    Created on : Apr 2, 2010, 6:33:18 PM
    Author     : bonrix
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
 a:hover {background-color:#1E95CE;position:absolute}
a:visited {background-color:#1E95CE;position:absolute
}
