
@media print
{
	.no-print, .no-print *
	{
		display: none !important;
	}
}
div.titlebox
{
	height: 98%; width: 100%;
	margin:0px 0px;
	top:0px; left:0px;
	position:absolute;
	background-color:#E6E6E6;/**/
	border-bottom:1px solid #bbbbbb;
	font-weight: bold;
	/*color:#FFFFFF;*/
}
.TitleFrame{ /*text-align:center;*/ font-size:18pt; font-family: "Segoe UI","Lucida Sans Unicode"; font-weight:100; color: #111111; padding:1px 2px; }

#RealTimeMap {height:100%;width:100%;position:absolute;}

.topheader{
	width:100%;
	height:73px;
	position:absolute;
	top:0px;
	background:none;
}
.TitleFrame{
	border-right:1px solid #cfcfcf;
}
#search{
	font-size:14pt;
	background:none;
	border:0px;
	vertical-align: top;
	width: 100%;
	color:gray;
}
.outer{
    /*background-color:blue;
    height: 80%;
    border:red solid 2px;*/
    display: table-cell;
    /*width:10%*/
    font-size:8pt;
}
.inner-title{
    /*background-color:red;*/
    display:table-row; 
    /*width:100%;*/
    font-size:12pt;
    font-weight:500;
}
.inner-subtitle{
    /*background-color:red;*/
    display:table-cell; 
    /*width:100%;*/
    font-size:12pt;
    font-weight:500;
}
.inner-content{
    /*background-color:grey;*/
    display:table-row;
    /*width:100%;
     height:100%;*/
     color:gray;
}
div#page_container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
div#ui_container {


  
  	width:100%;
  	height:100%;
  	position: inherit;
	margin:0 auto
}
div#map_container {
  -moz-user-select: none;
  bottom: 0px;
  left: 0;
  position: absolute;
  right: 0;
  top: 39px;
  width: 100%;
}
div#map_header {
  
  
  
  /*height: 50px;*/
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
div#map_navigation_controls {
  position: absolute;
  right: 12px;
  top: 76px;
}
div.map_floating_control {
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  width: 44px;
  z-index: 2;
}
div#map_navigation_controls span {
  color: #a2a2a2;
  font-size: 1.6em;
  line-height: 50px;
  position: relative;
  text-decoration: none;
  cursor:pointer;
}
div.map_floating_control span:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
div.map_floating_control span:last-child {
  border-bottom: 0 none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
div.map_floating_control span {
  border-bottom: 1px solid #d7d7d7;
  display: block;
  height: 43px;
  text-align: center;
  width: 100%;
}
div.map_inline_control {
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  width: 44px;
  z-index: 2;
}
div.map_inline_control span:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
div.map_inline_control span:last-child {
  border-bottom: 0 none;
}
div.map_inline_control span {
  border-right: 1px solid #d7d7d7;
  display: block;
  height: 43px;
  text-align: center;
  width: 44px;
  cursor:pointer;
}
div#map_navigation_controls span.badge {
  background: none repeat scroll 0 0 red;
  border-radius: 15px;
  color: #fff;
  display: none;  
  font-size: 10px;
  height: 24px;
  line-height: 24px;
  min-width: 24px;
  position: absolute;
  right: -10px;
  top: -8px;
  width:24px;
}
div#map_zoom_controls {
  bottom: 78px;
  position: absolute;
  right: 12px;
}
div#map_gps_controls {
  border-radius: 3px 0 0 3px;
  bottom: 122px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  display: inline-flex;
  position: absolute;
  right: 56px;
  width: auto;
}

div#map_zoom_controls span {
  color: #a2a2a2;  
  font-size: 1.6em;
  line-height: 50px;
  text-decoration: none;
  cursor:pointer;
}
div#map_navigation_controls span:hover{
	/*background: lightgray;
	color:#fff;text-shadow:0 -1px 0 #007aff*/
}
div#map_zoom_controls span:hover{
	/*background: lightgray;
	color:#fff;text-shadow:0 -1px 0 #007aff*/
}




.wrapper
{
	/*width:1280px;*/
	width:100%;
	height:100%;
	position: relative;
	margin:0 auto;	
}



.logout-butt
{
	width:100px;
	float:right;
	text-align:center;
	padding:20px 0px 0px 0px;
}

.logout-img
{
	width:19px;
}

.icon-img
{
	width:28px;
}

img 
{
    vertical-align: middle;
}


.icons-style
{
	width: 390px;
	float:left;
	margin:8px 0px 0px 0px;
}

.icons-style-1
{
	width: 360px;
	float:left;
	margin:8px 0px 0px 0px;
}

.icons-style-2
{
	width: 170px;
	float:left;
	margin:10px 0px 0px 0px;
}

.icons-style-3
{
	width: 200px;
	float:left;
	margin:10px 0px 0px 0px;
}

.icons-style-4
{
	width: 150px;
	float:left;
	/*margin:7px 0px 0px 0px;*/
}

.satcop-icons 
{
	 width: 355px;
   	 margin: 0 auto;
   
}


.style8.black-color, .style9.black-color, .style10.black-color, .style11.black-color {
	color:#aaaaaa;
}
.style8 {
    color: #e1e1e1;
    font-family: "Lato";
    font-size: 9px;
    line-height: 24px;
    margin-left: 6px;
}

.green-car 
{
    color: #35b052;
    font-size: 26px;
}

.style-green 
{
    background: none repeat scroll 0 0 #35b052;
    border-radius: 3px;
    color: #fff;
    font-family: "Lato";
    font-size: 10px;
    height: 18px;
    line-height: 16px;
    margin-left: 6px;
    margin-right: 4px;
    margin-top: 4px;
    text-align: center;
    min-width: 15px;
    width: auto;
}

.yellow-car 
{
    color: #f9b230;
    font-size: 26px;
}

.style-yellow 
{
    background: none repeat scroll 0 0 #f9b230;
    border-radius: 3px;
    color: #fff;
    font-family: "Lato";
    font-size: 10px;
    height: 18px;
    line-height: 16px;
    margin-left: 6px;
    margin-right: 4px;
    margin-top: 4px;
    text-align: center;
    min-width: 15px;
    width: auto;
}

.red-car 
{
    color: #e42e2e;
    font-size: 26px;
}

.style-red 
{
    background: none repeat scroll 0 0 #e42e2e;
    border-radius: 3px;
    color: #fff;
    font-family: "Lato";
    font-size: 10px;
    height: 18px;
    line-height: 16px;
    margin-left: 6px;
    margin-right: 4px;
    margin-top: 4px;
    text-align: center;
    min-width: 15px;
    width: auto;
}
.gray-car.black-color {
	color:#aaaaaa;
}
.gray-car {
    color: #aaaaaa;
    font-size: 26px;
}
.style-gray.black-color {
	background:#5f5f5f;
}
.style-gray {
    background: none repeat scroll 0 0 #5f5f5f;
    border-radius: 3px;
    color: #fff;
    font-family: "Lato";
    font-size: 10px;
    height: 18px;
    line-height: 16px;
    margin-left: 6px;
    margin-right: 4px;
    margin-top: 4px;
    text-align: center;
    min-width: 15px;
    width: auto;
}

.engine-icons 
{
	width: 325px;
    margin: 0 auto;  
}


.style9 {
  color: #e1e1e1;
  font-family: "Lato";
  font-size: 9px;
  line-height: 24px;
}


.off-red 
{

    color: #f23f3f;
    font-size: 40px;
    line-height: 22px !important;
    margin-left: 5px;
    margin-right: 10px;
}

.off-green 
{
    color: green;
    font-size: 40px;
    line-height: 22px !important;
    margin-left: 5px;
    margin-right: 10px;
}

.off-gray 
{
    color: #696969;
    font-size: 40px;
    line-height: 22px !important;
    margin-left: 5px;
    margin-right: 10px;
}
.off-gray.black-color {
    color: #8d8d8d;
}

.line-style.black-color {
    background: none repeat scroll 0 0 #686868;
	height: 40px;
}
.gray-kms.black-color {
    background: none repeat scroll 0 0 #5f5f5f;
}

.gray-hrs.black-color {
	background: none repeat scroll 0 0 #5f5f5f;
}
.line-style
{
	width:2px;
	background:#686868;
	height:36px;
	float:left
}

.today-run 
{
    margin: 0 auto;
    width: 135px;
}



.style10 
{
    color: #e1e1e1;
    font-family: "Lato";
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
}

.gray-kms 
{
    background: none repeat scroll 0 0 #5f5f5f;
    border-radius: 3px;
    color: #fff;
    font-family: "Lato";
    font-size: 10px;
    height: 15px;
    line-height: 14px;
    margin-left: 2px;
    margin-right: 4px;
    margin-top: 4px;
    text-align: center;
    width: 29px;
}

.duration 
{
    margin: 0 auto;
    width: 175px;
}

.style11 
{
    color: #e1e1e1;
    font-family: "Lato";
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
}

.gray-hrs 
{
    background: none repeat scroll 0 0 #5f5f5f;
    border-radius: 3px;
    color: #fff;
    font-family: "Lato";
    font-size: 10px;
    height: 15px;
    line-height: 14px;
    margin-left: 2px;
    margin-right: 4px;
    margin-top: 4px;
    text-align: center;
    width: 29px;
}


.theme
{
    margin: 0 auto;
    width: 152px;
}


.selectParent{
    width:133px;
    overflow:hidden;  
}

.selectParent select{
    width: 152px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 20px;
    border: 0px solid;
    background: transparent url(../assets/img/arrow-1.png) no-repeat 115px center;
	color: #696969;
    font-family: "Lato";
    font-size: 12px;
    line-height: 23px;
	height:36px;
    text-transform: uppercase;
	outline: 0px;
}

.selectParent select option {
	height: 20px;
	border:0px solid;
    padding: 7px 20px;
	outline: 0px;
   
}


.left-sliderbar.black-color {
    background: none repeat scroll 0 0 #5f5f5f;
}
.left-sliderbar-top{
	top:0px;
}
.left-sliderbar {
  background: none repeat scroll 0 0 #d6d6d6;
  border-right: 1px solid #c7c7c7;
  bottom: 0;
  color: #aab2bd;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  /*top: 39px;*/
  transition: all 0.3s ease 0s;
  /*width: 244px;*/
  width: 214px;
  z-index: 10;
}
.left-sliderbar-1.black-color {
    background: none repeat scroll 0 0 #5f5f5f;
}
.left-sliderbar-1 {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    color: #aab2bd;
    margin-left: 246px;
    position: fixed;
    top: 113px;
    transition: all 0.3s ease 0s;
    width: 25px;
    z-index: 10;
}
.viren.black-color, .viren.black-color :hover {
    color: #ffffff;
}
.viren
{
	font-family:'Lato-Regular';
	font-size:14px;
	color: #ffffff;
	text-decoration:none;
	margin-left:10px;
	margin-top:10px;
}
.style4
{
	/*width:245px;
	margin:6px 0px 6px 22px;*/
	background: none repeat scroll 0 0 #38b7ec;
	height: 40px;
}
.black {
	display: none;
}
.style5 
{
    width: 28px;
    margin: 6px;
}

.style-setting {
  margin-left: 70px;
 
}

.search-style.white-color, .link.white-color {
	background: #cdcdcd;
	color: #FFFFFF;
}
.form-control-white::-moz-placeholder {
    color: #696969;
    opacity: 1;
}
.search-style.black-color, .link.black-color{
	background:#4a4a4a;
	color:#FFF;
	border-bottom:1px solid #616161;
}
.search-style.primary-color, .link.primary-color {
	background: #45da88;
	color: #fff;
}
.search-style 
{
    background: none repeat scroll 0 0 #4a4a4a;
    height: 37px;
    width: 215px;
	margin:0px;
	/*display: none;*/
}

.style6 
{
	color: #fff !important;
    background: url(../images/search2.png) no-repeat scroll left center rgba(0, 0, 0, 0) !important;
     font-family: 'Lato-Regular';
	 border: 0 solid #ddd;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset;  
    transition: border-color 0s ease-in-out 0s, box-shadow 0s ease-in-out 0s;
    width: 150px !important;
	font-size: 14px !important;
    height: 37px;
    padding: 0 0 0 22px;
}


.fa 
{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.icon-twenty-four {
  color: #1395df;
  font-size: 22px;
  line-height: 15px !important;
  margin-right: 30px;
  margin-top: 3px;
  position: absolute;
  right: 0;
}

.icon-pointer {
  color: #3cd17f;
  font-size: 14px;
  line-height: 19px !important;
  margin-right: 8px;
  margin-top: 0px;
  position: absolute;
  right: 0;
}

.bullet-style 
{
    margin-right: 9px;
    padding-bottom: 2px;
    height: 22px;
}

.style6::-moz-placeholder
{
    color: #fff;
    opacity: 1;
}
.style6::-webkit-input-placeholder {
	 color: #fff;
    opacity: 1;
}

.style6:-ms-input-placeholder {
	 color: #fff;
    opacity: 1;
}

.btn-collapse-sidebar-left 
{
    cursor: pointer;
    font-size: 18px;
    height: 28px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 25px;
}

.vehical-summary 
{
    background: none repeat scroll 0 0 #636363;
    bottom: 50px;
    float: left;
    left: 0;
    font-size: 13px;
    height: 35px;
    position: fixed;
    text-align: center;
    width: 190px;
	margin-left:300px;
}

.vehical-summary-icon 
{
    color: #b7b6b6;
    font-size: 22px;
    line-height: 32px !important;
    position: absolute;
}

.summary-style 
{
    color: #ffffff;
    font-family: "Lato";
    font-size: 12px;
    line-height: 35px;
    margin-left: 27px;
    text-transform: uppercase;
}

.alert-style 
{
    background: none repeat scroll 0 0 #636363;
    bottom: 50px;
    font-size: 13px;
    height: 35px;
    left: 215px;
    position: absolute;
    text-align: center;
    width: 120px;
	margin-left:300px;
}

.alert-icon 
{
    color: #eac517;
    font-size: 22px;
    line-height: 32px !important;
    position: absolute;
}
footer.white-color {
	background: #898989;
}
footer.black-color {
	background: #464646;
}
footer 
{
    background: none repeat scroll 0 0 #636363;
    bottom: 0;
    font-size: 13px;
    height: 40px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.car-status-style {
    color: #696969;
    font-family: "Lato-Light";
    font-size: 15px;
    margin: 6px 0 0 10px;
    position: absolute;
}

.car-laocation-icon {
    color: #696969;
    font-size: 22px;
    line-height: 60px;
    margin-left: 10px;
}

/*** GOOGLE MAPS ***/
       
	.mycontent 
	{
		position:relative;
		/*width:100%;*/
		margin-left: 270px;
		height:100%;
		/*z-index:0;
		overflow:hidden;*/
	}
	.mycontent:before {
		content: '';
		position: absolute;
		/*width: 100%;
		height: 100%;
		background-color: rgba(236,200,0,0.6);*/
		pointer-events: none;
	}
	.change {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
	}

/*** GOOGLE MAPS ***/

.map_summery {
  bottom: 0;
  left: 250px;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 20%;
  width: 80%;
  z-index: 9999;
}

.table_summery {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 20%;
    width: 85%;
    z-index: 9999;
}
.the-box {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #d5dae0;
  color: #696969;
  font-family: "Lato-Regular";
  font-size: 14px;
  height: 88%;
  margin-bottom: 30px;
 
  position: relative;
  text-align: center;
}

/*** POP UP ***/
.modal-open {
	overflow: hidden
}
.modal {
	display: none;
	overflow: auto;
	overflow-y: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1070;
	-webkit-overflow-scrolling: touch;
	outline: 0
}
.modal.fade .modal-dialog {
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -moz-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0)
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}
.modal-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;
	outline: 0
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0)
}
.modal-backdrop.in {
	opacity: .5;
	filter: alpha(opacity=50)
}
.modal-header {
	padding: 15px;
	min-height: 16.42857143px
}
.modal-header .close {
	margin-top: -2px
}
.modal-title {
	margin: 0;
	line-height: 1.42857143
}
.modal-body {
	position: relative;
	/*padding: 20px*/
}
.modal-footer {
	margin-top: 15px;
	padding: 19px 20px 20px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}
.modal-footer .btn+.btn {
	margin-left: 5px;
	margin-bottom: 0
}
.modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}
.modal-footer .btn-block+.btn-block {
	margin-left: 0
}
button.close {
    background: none repeat scroll 0 0 gray;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    padding: 0;
    width: 28px;
    z-index: 9999;
}
.close {
  color: #fff;
  float: right;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.9;
  position: absolute;
  right: -15px;
  text-shadow: 0 1px 0 #fff;
  top: -15px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/**

/*** ALERT BOX ***/

.box_style {
	height: auto;
    left: 0;
    /*margin: 0 auto;*/
    /*position: fixed;*/
    right: 0;
    width: 320px;
}
.close_style {
	left: 64%;
    position: fixed;
    top: 13%;
}
.close_style1 {
	left: 94%;
    position: fixed;
    top: 13%;
}


/*** ALERT BOX ***/
.car-details
{
	top:15%;
	left:0%;
	bottom:0;
	right:0;
	z-index:1;
	width:320px;
	height:auto;
	/*position: fixed;*/
	background:#ededed;
	/*margin:0 auto;*/
	/*box-shadow: 0px 0px 30px 10px #555555;*/
	/*border:1px solid #fff;*/
}

.car-img
{
	/*background:url(../assets/img/car.jpg) no-repeat;*/
	width:318px;
	height:110px;
	background-size: cover;
}

.car-yellow-strip
{
	background:#f7ca14;
	height:110px;
	width:320px;
	height:30px;
	color:#373737;
	text-align:center;
	line-height:30px;
	font-family:'Lato';
	font-size:14px;
}


.car-location
{
	height:110px;
	width:320px;
	height:70px;
	border-bottom:solid 1px #B2B2B2;
}

.car-laocation-style
{
	color:#696969;
	font-family:'Lato-Light';
	font-size:15px;
	position:absolute;
	margin:10px 0px 0px 10px;
}

.car-laocation-style1
{
	color:#373737;
	font-family:'Lato-Regular';
	font-size:12px;
	margin:-30px 0px 0px 43px;
	line-height:13px;
}

.horizontal-line
{
	width:100%;
	height:1px;
	background:#646464;
}

.car-name-details
{
	height:110px;
	width:210px;
	height:60px;
	border-bottom:solid 1px #B2B2B2;
}

.car-phone-details
{
	height:110px;
	width:210px;
	height:35px;
	border-bottom:solid 1px #B2B2B2;
}
.port-details
{
	height:110px;
	width:210px;
	height:35px;
	border-bottom:solid 1px #B2B2B2;
}
.car-status-details
{
	/*height:110px;
	width:210px;
	height:35px;*/
	clear:both;
	border-bottom:solid 1px #B2B2B2;
}
.car-phone-icon
{
	color:#696969;
	font-size:22px;
	line-height:33px;
	margin-left:10px;
}

.car-phone-style {
  color: #373737;
  font-family: "Lato-Regular";
  font-size: 14px;
  margin: 34px 0 0 10px;
  position: absolute;
}

.car-status-style
{
	color:#696969;
	font-family:'Lato-Light';
	font-size:14px;
	position:absolute;
	margin:6px 0px 0px 10px;
}
.port-style
{
	color:#696969;
	font-family:'Lato-Light';
	font-size:14px;
	position:absolute;
}
.ign-style
{	
	margin:8px 0 0 12px;
}
.pow-style
{	
	margin:8px 0 0 60px;
}
.ac-style
{
	margin:8px 0 0 116px;
}
.gps-style
{
	margin:8px 0 0 164px;
}

.car-status-green
{
	margin-left:17px;
	line-height:31px;
}

.car-speed
{
	background: none repeat scroll 0 0 #e6e65c;
	float:left;
	border-left:solid 1px #B2B2B2;
	border-bottom:solid 1px #B2B2B2;
	height:96px;
	width:108px;
}

.car-speed-style
{
	color:#373737;
	font-family:'Lato-Regular';
	font-size:15px;
	text-align:center;
	line-height: 0;
	margin: 20px 0px 0px 0px;
}

.car-speed-style1
{
	color:#373737;
	font-family:'Lato-Light';
	font-size:35px;
	text-align:center;
	margin: 5px 0px 0px 0px;
}


.car-speed-style2
{
	color:#373737;
	font-family:'Lato-Regular';
	font-size:15px;
	text-align:center;
	line-height: 0;
	margin: 10px 0px 0px 0px;
}

.car-icons-four-details
{
	clear:both;
	/*padding-top: 15px;*/
}

.car-icons-four
{
	color:#1395df;
	font-size:20px;
	line-height:45px;
	margin-left:50px;
	position:absolute;
	cursor: pointer;
}

.car-icons-four1
{
	color:#1395df;
	font-size:20px;
	line-height:45px;
	margin-left:102px;
	position:absolute;
	cursor: pointer;
}

.car-icons-four2
{
	color:#1395df;
	font-size:20px;
	line-height:45px;
	margin-left:154px;
	position:absolute;
	cursor: pointer;
}

.car-icons-four3
{
	color:#1395df;
	font-size:20px;
	line-height:45px;
	margin-left:216px;
	position:absolute;
	cursor: pointer;
}

.car-icons-four4
{
	color:#1395df;
	font-size:20px;
	line-height:45px;
	margin-left:260px;
	position:absolute;
	cursor: pointer;
}


.car-icons-four-style
{
	color: #696969;
    font-family: "Lato-Regular";
    font-size: 10px;
    margin: 5px 0px 0px 35px;
	position:absolute;
	cursor: pointer;
}

.car-icons-four-style1
{
	color: #696969;
    font-family: "Lato-Regular";
    font-size: 10px;
    margin: 5px 0px 0px 103px;
	position:absolute;
	cursor: pointer;
}

.car-icons-four-style2
{
	color: #696969;
    font-family: "Lato-Regular";
    font-size: 10px;
    margin: 5px 0px 0px 135px;
	position:absolute;
	cursor: pointer;
}

.car-icons-four-style3
{
	color: #696969;
    font-family: "Lato-Regular";
    font-size: 10px;
    margin: 5px 0px 0px 210px;
	position:absolute;
	cursor: pointer;
}

.car-icons-four-style4
{
	color: #696969;
    font-family: "Lato-Regular";
    font-size: 10px;
    margin: 5px 0px 0px 260px;
	position:absolute;
	cursor: pointer;
}

/* Sub Menu */
#track-details, #speed-details, #geo-path-details, #geo-fence-details, #poi-details, #others-details, #digital-input-details, #all-reports-details, #alerts-details, #stoppage-details, #email-details, #sms-details, #setting-details, #contact-details {
	display:none;
}
#close-icon1, #close-icon2, #close-icon3, #close-icon4, #close-icon5, #close-icon6, #close-icon7, #close-icon8, #close-icon9, #close-icon10, #close-icon11, #close-icon12, #close-icon13, #close-icon14 {
	display:none;
}
.link_style {
	/*background:#45da88;
	color: #FFF;*/
	padding: 9px 20px 11px;
	display:block;
	background: none repeat scroll 0 0 #4a4a4a; 
	border-bottom: 1px solid #616161;
	margin:13px 0px 0px 0px;/**/
	font-family: "Lato-Regular";
    font-size: 14px;
	color:#FFFFFF;
}
.sub_icon {
	margin-top:-19px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	float:right;
	width: 22px;
}
.sub_icon_link {
	padding:10px 20px 0 !important;
}



.active{
	display: block;
	/*visibility:visible;*/
}
.inactive{
	display: none;
	/*visibility:hidden;*/
}
div#modalBlackout {  
  height: 100%;
  position: absolute;
  transition: all 400ms ease 0s;
  width: 100%;
  z-index: 900;
  display: none;
  top:0;
  left:0;
}
div#modalBlackout.show {
  display: block;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.50);
}
#icon1{
	overflow-x: hidden;
	overflow-y: auto;
	height: 80%;
}
h1{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:-2px;
  font-size:2.5em;
  margin:20px 0;
}

.container{
  width:100%;
  margin:auto;
}

table{
  border-collapse:collapse;
  width:100%;
}

.blue{
  border:2px solid #1ABC9C;
}

.blue thead{
  background:#1ABC9C;
}

.purple{
  border:2px solid #9B59B6;
}

.purple thead{
  background:#9B59B6;
}





.fixed{
  top:0;
  position:sticky;
  width:auto;
  display:none;
  border:none;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}

html, body{
  margin:0;
  padding:0;
  height:100%;
}
section {
  position: relative;
  /*border: 1px solid #000;*/
  padding-top: 37px;
  background: #d5dae0;
}
section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}
.container {
  overflow-y: auto;
  height: 365px;
}
table {
  border-spacing: 0;
  width:100%;
}


  th div {
      background: none repeat scroll 0 0 transparent;
      border-left: 1px solid #fff;
      color: #696969;
      line-height: normal;
      margin-left: -6px;
      padding: 10px 8px;
      position: absolute;
    top: 0;
}
th:first-child div{
  border: none;
}
div.modal_container {
  background-color: #fff;
  border-radius: 5px;  
  left: 25%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  /*top: 50%;*/
  z-index: 9999;
}
div.modal_container div.modal_header_container {
  border-bottom: 1px solid #cad1d7;/**/
  height: 72px;
  position: relative;
  background: none repeat scroll 0 0 #e4e8ec
}
.tt_title{
	font-size: 16px;
	font-weight: lighter;
}
.tt_subtitle{
	color: gray;
	font-size: 11px;
	font-weight: lighter;
}
div.modal_container span.close_button_large {
	background: url("../images/tracking/tracking-icon-set.png") no-repeat scroll -2px -30px rgba(0, 0, 0, 0);	
	width: 25px;
	height: 25px;		
	position: absolute;
	right: 8px;
	top: 8px;
	cursor:pointer;
}
div.modal_container span.close_button_large:hover {
	background-position:  -28px -30px;
}
div.modal_container span.ok_button_large {
	background: url("../images/tracking/tracking-icon-set.png") no-repeat scroll -54px -30px rgba(0, 0, 0, 0);	
	width: 25px;
	height: 25px;		
	position: absolute;
	right: 8px;
	bottom: 8px;
	cursor:pointer;
}
div.modal_container span.ok_button_large:hover {
	background-position:  -80px -30px;
}
/* For vehicle label
	added by vishal banker on 11/11/2014
*/
 .hint, [data-hint] {
 position: relative;
 display: inline-block;
}
.hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
	position: absolute;
	z-index: 1000000;
	pointer-events: none;
	border-radius:2px;
}
.hint:before, [data-hint]:before {
	content: '';
	position: absolute;
	background: transparent;
	border: 7px solid transparent;
	z-index: 1000001;
}
.hint:after, [data-hint]:after {
	content: attr(data-hint);
	background: #408ed6;
	color: white;
	padding: 8px 5px;
	font-size: 10px;
	line-height: 1px;
	white-space: nowrap;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.hint--top:before {
	border-top-color: #408ed6;
}
.hint--bottom:before {
	border-bottom-color: #408ed6;
}
.hint--left:before {
	border-left-color: #408ed6;
}
.hint--right:before {
	border-right-color: #408ed6;
}

.hint--bottom:before {
	margin-top: -12px;
}
.hint--bottom:after {
	margin-left: -17px;
}
.hint--bottom:before, .hint--bottom:after {
	top: 80%;
	left: 50%;
}
.hint--always:after, .hint--always:before {
	opacity: 1;
	visibility: visible;
}
.hint--always.hint--top:after, .hint--always.hint--top:before {
	-webkit-transform: translateY(-7px);
	-moz-transform: translateY(-7px);
	transform: translateY(-7px);
}
.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
	-webkit-transform: translateY(7px);
	-moz-transform: translateY(7px);
	transform: translateY(7px);
}
.hint--always.hint--left:after, .hint--always.hint--left:before {
	-webkit-transform: translateX(-7px);
	-moz-transform: translateX(-7px);
	transform: translateX(-7px);
}
.hint--always.hint--right:after, .hint--always.hint--right:before {
	-webkit-transform: translateX(7px);
	-moz-transform: translateX(7px);
	transform: translateX(7px);
}

/*till this*/
.icon-poi{
	background: url("../images/tracking/tracking-icon-set.png") no-repeat scroll -80px -55px rgba(0, 0, 0, 0);	
	width: 18px;
	height: 18px;
	margin-right: 5px;
}
div#map_search_container span.icon-cancel {
  color: #878787;
  display: none;
  font-family: fontcustom;
  /*font-size: 1.2em;*/
  line-height: 34px;
  margin: 0 5px 0 0;
  text-align: right;
  position: absolute;
  right: 0;
  cursor: pointer;
}
div#map_search_results {
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid #bbbec7;
  box-shadow: 0 3px 3px #888;
  display: none;
  height: 400px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;  
  position: absolute;
  right: 0;
  /*top: 43px;*/
  z-index: 999;
}
div#map_search_results a.result {
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  padding: 8px 5px;
  text-decoration: none;
}
div#map_search_results a:hover {
	background: #dff0ff;
}
div#map_search_results a.selected {
	background: #afd8ff;
}
div#map_search_container span.icon-result {
  color: #878787;
  display: inline-block;
  font-family: fontcustom;
  margin: 0 5px 0 0;
  text-align: right;
}
div#map_search_container span.icon-result img{  
  margin: -4px auto;  
}
div#map_search_results a.result span.title {
  color: #333;
  display: block;
  font-size: 12px;
  line-height: 30px;
}
div#map_search_results a.result span.subtitle {
  color: #797b83;
  display: block;
  font-size: 12px;
  line-height: 26px;
  position: relative;
  right: 3px;
}
div#map_search_results a.result span.errormsg{
  position: relative; 
  margin: 0px auto; 
  color: red;
}