.param_grid_final
{ border-collapse:collapse; padding:5px; width:100%; background:#FFF; border:1px solid #CCC; font-size:13px;font-family: calibri,arial;}
.param_grid_final tr th
{border: 1px solid #CCCCCC; background: #5c9ccc; color: #ffffff; font-weight: bold;padding: 2px;height: 20px; }
.param_grid_final tr td
{ padding:5px; border:#CCCCCC solid 1px; vertical-align:middle; text-align:center;  }
.param_grid_final tr:nth-child(even) {background: #dfdede}
.param_grid_final tr:nth-child(odd) { background:#FFFFFF;}

            #ui-datepicker-div{ font-size: 80%; }
            /* css for timepicker */
            .ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
            .ui-timepicker-div dl{ text-align: left; }
            .ui-timepicker-div dl dt{ height: 25px; }
            .ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
            .ui-timepicker-div td { font-size: 90%; }

.list a
{
    color: #505050;
    text-decoration: none;
    font-size: 18px;
}
.list a:hover
{
    color: black;
    text-decoration: none;
    font-size: 18px;

}

.reportmenu
{ border-collapse:collapse; padding:5px; width:100%; background:#FFF; border:1px solid #CCC; font:13px normal;font-family: calibri,arial;}
.reportmenu tr th
{border: 1px solid #CCCCCC; background: #5c9ccc; color: #ffffff; font-weight: bold;padding: 2px;height: 10px; font-family: calibri,arial;font-size: 14px;text-align: center;}
.reportmenu tr td
{ padding:10px; border:#CCCCCC solid 1px; vertical-align:middle; text-align:center;  }
.reportmenu tr:nth-child(even) {background: #dfdede}
.reportmenu tr:nth-child(odd) { background:#FFFFFF;}
.reportmenu label{
    font-size: 9px;
    font-weight: 600;

}


.myButton {
    background: url(graphics/buttons.png) left -78px;
    border: 1px solid #3580A9;
    /*+text-shadow:0px -1px 0px #2C6AA3;*/
    -moz-text-shadow: 0px -1px 0px #2C6AA3;
    -webkit-text-shadow: 0px -1px 0px #2C6AA3;
    -o-text-shadow: 0px -1px 0px #2C6AA3;
    text-shadow: 0px -1px 0px #2C6AA3;

    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 10px;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    text-decoration: none;
    /*+box-shadow:0px 1px 5px #B2B2B2;*/
    -moz-box-shadow: 0px 1px 5px #B2B2B2;
    -webkit-box-shadow: 0px 1px 5px #B2B2B2;
    -o-box-shadow: 0px 1px 5px #B2B2B2;
    box-shadow: 0px 1px 5px #B2B2B2;
}
.myButton:hover {
    background: #3786B9;
    color: #D4E6EF;
    text-decoration: none;
    /*+box-shadow:none;*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.myButton[disabled]
{
    color: red;
}

.myButton:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.bspbutton
{
    border: 1px solid #3580A9;
    width: 90px;
    height: 35px;

}
