       .param_grid_final
        { border-collapse:collapse; padding:5px; width:100%; background:#FFF; border:1px solid #CCC; font:12px normal Arial, Helvetica, sans-serif;}
        .param_grid_final tr th
        {border: 1px solid #CCCCCC; background: #B2B2B2; color: #0000; font-weight: bold;padding: 2px;height: 20px; }
        .param_grid_final tr td
        { padding:5px; border:#CCCCCC solid 1px; vertical-align:middle; text-align:center;  }
        .param_grid_final tr:nth-child(even) {background: #dfdede}
        .param_grid_final tr:nth-child(odd) { background:#FFFFFF;}
        
        
        
              .reportmenu
        { border-collapse:collapse; padding:5px; width:100%; background:#FFF; border:1px solid #CCC; font:12px normal Arial, Helvetica, sans-serif;}
       .reportmenu tr th
        {border: 1px solid #CCCCCC; background: #B2B2B2; color: #0000; font-weight: bold;padding: 2px;height: 30px; font-family:"Times New Roman",Times,serif;font-size: 19px;}
       .reportmenu tr td
        { padding:10px; border:#CCCCCC solid 1px; vertical-align:middle; text-align:center;  }
        .reportmenu tr:nth-child(even) {background: #dfdede}
       .reportmenu tr:nth-child(odd) { background:#FFFFFF;}
       .reportmenu label{
                        font-size: 15px;
                        font-weight: 600;
                        
       }

 .headertable
 {
  background-color: #B2B2B2;   
     
     
 }

.myButton {
background-color: grey;
	border: 1px solid #3580A9;
	/*+text-shadow:0px -1px 0px #2C6AA3;*/
	-moz-text-shadow: 0px -1px 0px #2C6AA3;
	-webkit-text-shadow: 0px -1px 0px #2C6AA3;
	-o-text-shadow: 0px -1px 0px #2C6AA3;
	text-shadow: 0px -1px 0px #2C6AA3;
	
        color: #FFFFFF;
	font-weight: bold;
	padding: 5px 10px;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	text-decoration: none;
	/*+box-shadow:0px 1px 5px #B2B2B2;*/
	-moz-box-shadow: 0px 1px 5px #B2B2B2;
	-webkit-box-shadow: 0px 1px 5px #B2B2B2;
	-o-box-shadow: 0px 1px 5px #B2B2B2;
	box-shadow: 0px 1px 5px #B2B2B2;
   }
.myButton:hover {
  background: #3786B9;
        color: #D4E6EF;
	text-decoration: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
   }
   
   .myButton[disabled]
{
        color: red;
}

.myButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
  
   .bspbutton
   {
       border: 1px solid #3580A9;
       width: 90px;
       height: 35px;
       
   
   }
   
   .body
   {
       background-color: #ffffff;
   }
   
   em.error {
                background:url("public/images/unchecked.gif") no-repeat 0px 0px;
                padding-left: 15px;
                margin-top:5px;
                font-style:italic;
            }
            em.success {
                background:url("public/images/checked.gif") no-repeat 0px 0px;
                padding-left: 15px;
            }

            form.cmxform label.error {
                margin-left: auto;
                width: 250px;
            }
            em.error { color: black; }
            #warning { display: none; }